app:
  name: skilltest
  desc: Services of skilltest
  port: 4040
  env: development
  prefork: false
  timeZone: Asia/Jakarta
  auwi: 3
  programFile: /usr/sbin/skilltest
  workingDir: your directory project

database: 
  host: 
  port: 
  user: 
  password: 
  name: 
  dialect: postgres

    
