# systemd service for managing all skilltest service on this system.
[Unit]
Description=skilltest System Service

ConditionPathExists=/usr/sbin/skilltest
ConditionPathIsDirectory=/etc/skilltest
ConditionPathExists=/etc/rsyslog.d/syslog-skilltest.conf
ConditionPathIsDirectory=/var/log/skilltest

After=network.target postgresql.service redis-server.service
Wants=network-online.target postgresql.service redis-server.service

[Service]
Type=simple
Restart=on-failure
RestartSec=10

WorkingDirectory=/etc/skilltest
ExecStart=/usr/sbin/skilltest --run

# Comment this option consider to this error "Standard output type syslog is obsolet"
# StandardOutput=syslog
# StandardError=syslog
# SyslogIdentifier=skilltest

Environment=debug_option

[Install]
WantedBy=multi-user.target